### https://raw.github.com/github/gitignore/6f8aee0564363a55db374969c03dd35895801786/Global/Xcode.gitignore

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate


